# Node modules
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next/
out/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and editor folders
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage reports
coverage/

# Production
/build

# Misc
*.tgz
*.swp
*.swo

# Local env files
.env*

# Vercel
.vercel

# Firebase
firebase

# Prisma
prisma

# Certificates
certificates/


#export database
database/aliatish.sql.zip
database/aliatish.sql
grant_access.sql


#pages




.nx/cache
.nx/workspace-data